/* @media only screen and (max-width: 1440px) {
    .content {
        max-width: 90%;
    }
} */

/* Untuk Tablet */
/* @media all and (max-width: 1000px) {
    .img {
      width: 50%;
      margin-bottom: 1.5rem;
    }
    
    .h1 {
      font-size: 2.6rem;
    }
    
    .cardDay {
        width: 5.4rem;
        height: 3rem;
    }
  } */

.content {
    max-width: 1420px;
    margin: 3rem 3rem;
}

.btn {
    font-weight: bold;
    padding: 0.5rem 3rem;
    border: none;
    border-radius: 5px;
    background-color: #FDCB5A;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    outline: none;
}

/* .h1 {
    font-size: 3.2rem;
} */

.h3 {
    color: #1A3150;
    margin-bottom: 1.2rem;
}

.modalTitle {
    color: #1A3150;
}

.font {
    font-size: 18px;
    font-weight: 500;
}

.image {
    width: 50%;
}

.img1 {
    height: 20rem;
    width: auto;    
}

.cardImg1 {
    height: 10rem;
    width: 35rem;
}

.img2 {
    width: 5rem;
    height: auto;
    margin-right: 1.5rem;
}

.info {
    display: flex;
    flex-direction: row;
    margin-bottom: 1.5rem;
    width: 100%;
}

.cardInfo {
    width: 50%;
}

.cardDay {
    width: 10rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

/* .daySelected {
    width: 7.4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: #FDCB5A;
}

.dayUnselected {
    width: 7.4rem;
    height: 4rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-color: aqua;
} */

.cardTime {
    width: 11.3rem;
    height: 3rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.cardBody {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 1rem;
    margin: 0;
}

.about {
    width: 29rem;
}

.p {
    text-align: justify;
}

.facility {
    width: 38rem;
    margin-left: 3rem;
}

.cardDoc {
    width: 18.5rem;
    cursor: pointer;
}

.cardPet {
    width: 14rem;
    height: auto;
    cursor: pointer;
}

.icon {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.label {
    color: #1A3150;
    font-weight: bold;
}

.btnn {
    font-weight: bold;
    padding: 0.5rem 13.5rem;
    border: none;
    border-radius: 5px;
    background-color: #FDCB5A;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    outline: none;
}