li{
    list-style: none;
}
.vet{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    /* identical to box height, or 54px */
    letter-spacing: 0.305em;
    /* Primary Color Vet - 1 */
    color: #FDCB5A;
}
