@import './color.scss';
@import './font-style.scss';
@import './vet-animation.scss';

.dropdown-setup {
  top: -55px !important;
}

.form-register input {
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: 1rem 0.75rem;
  padding: 1.5rem 4rem;
}

.form-register:nth-child(1)>input {
  background-image: url("../icons/Form/register-mail.svg");
}

.form-register:nth-child(2)>input {
  background-image: url("../icons/Form/register-user.svg");
}

.form-register:nth-child(3)>input {
  height: 50px;
}

.eye-container {
  position: absolute;
}

.form-register:nth-child(3)>input {
  background-image: url("../icons/Form/register-lock.svg");
}

.form-register:nth-child(4)>input {
  background-image: url("../icons/Form/register-phone.svg");
}

.register-eye {
  display: flex;
  justify-self: flex-start;
  position: relative;
  top: -3.75rem;
  right: -32.5rem;
  text-align:right;
}

.login {
  top: -2.5rem;
}

.line-height-24 {
  line-height: 24px;
  padding: 0 !important;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #E5E5E5;
}

html {
  overflow-y: auto;
}

body {
  padding: 0 !important;
}

.hidden {
  display: none !important;
  transition: all 1s ease;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

div[class*='vet-paws'] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
}

div[class*='vet-paws']  > *{
  opacity: 0;
}

.appointment-fix-height {
  min-height: 478px;
}

.pagination-absolute {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom:0;
}
$animate_time: 1.4s;
@for $classis from 1 through 10 {
  @for $i from 1 through $classis {
    .vet-paws-#{$classis} >*:nth-child(#{$i}) {
      animation: paw1 $animate_time infinite $animate_time/20 * ($classis - $i);
    }
  }
}



@keyframes paw1 {

  /* You could think of as "step 1" */
  0% {
    opacity: 1;
  }

  /* You could think of as "step 2" */
  33% {
    opacity: 0;
  }

  66% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin) !important;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg) !important;
  }

  to {
    transform: rotate(360deg) !important;
  }
}


@media only screen and (max-width:1199px) {
  .register-eye {
    right: -24.5rem;
  }
}

@media only screen and (max-width:991px) {
  .LoginSideImage {
    display: none !important;
    flex: 0 0 0 !important;
  }

  .register-eye {
    right: -29.5rem;
  }
}

@media only screen and (max-width:767px) {
  .register-section {
    padding: 0 !important;
  }

  .register-form {
    padding: 0 !important;
  }

  .register-eye {
    right: -25.5rem;
  }
}

@media only screen and (max-width:575px) {
  .register-eye {
    right: -88%;
  }
}

@media only screen and (max-width:500px) {
  .register-nav>.nav-item>* {
    padding: 0 .5rem;
  }
}

@media only screen and (max-width:468px) {
  .register-nav>.nav-item>* {
    padding: 0 .5rem;
  }

  .register-form {
    margin: 0 !important;
    padding: 0 !important;
  }

  .form-register input {
    background-size: 1.5rem 1.5rem;
    background-repeat: no-repeat;
    background-position: 1rem 0.75rem;
    padding: 1.5rem 0 1.5rem 4rem;
  }
}

@media only screen and (max-width:433px) {
  .register-nav>.nav-item>* {
    padding: 0 .2rem;
    font-size: 12px !important;
  }

  .register-nav>.nav-item>*>button {
    padding: .5rem .75rem !important;
    font-size: 12px !important;
  }
}